<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIwUd0lDDImNR4pGMldaYkQV8FMmBGKFY</string>
	<key>GCM_SENDER_ID</key>
	<string>196149153289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.elpensador</string>
	<key>PROJECT_ID</key>
	<string>elpensador-zif0ne</string>
	<key>STORAGE_BUCKET</key>
	<string>elpensador-zif0ne.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196149153289:ios:c7668d91d56515225832d8</string>
</dict>
</plist>